In [28]:
import pandas as pd

# Read the CSV file into a DataFrame
df_1 = pd.read_csv("mobile_price_1.csv")

# Display the first few rows of the DataFrame
print(df_1.head())

        date  battery_power blue  clock_speed dual_sim  fc four_g  int_memory  \
0  11/2/2022           1043  Yes          1.8      Yes  14     No           5
1  11/2/2022            841  Yes          0.5      Yes   4    Yes          61
2  11/2/2022           1807  Yes          2.8       No   1     No          27
3  11/2/2022           1546   No          0.5      Yes  18    Yes          25
4  11/2/2022           1434   No          1.4       No  11    Yes          49

   m_dep  mobile_wt  ...  px_height  px_width   ram  sc_h  sc_w  talk_time  \
0    0.1        193  ...        226      1412  3476    12     7          2
1    0.8        191  ...        746       857  3895     6     0          7
2    0.9        186  ...       1270      1366  2396    17    10         10
3    0.5         96  ...        295      1752  3893    10     0          7
4    0.5        108  ...        749       810  1773    15     8          7

   three_g  touch_screen wifi price_range
0       No           Yes   No           2
1      Yes            No   No           2
2       No           Yes  Yes           2
3      Yes           Yes   No           2
4      Yes            No  Yes           2

[5 rows x 22 columns]

In [29]:
df_1.dtypes

date              object
battery_power      int64
blue              object
clock_speed      float64
dual_sim          object
fc                 int64
four_g            object
int_memory         int64
m_dep            float64
mobile_wt          int64
n_cores            int64
pc                 int64
px_height          int64
px_width           int64
ram                int64
sc_h               int64
sc_w               int64
talk_time          int64
three_g           object
touch_screen      object
wifi              object
price_range        int64
dtype: object

In [30]:
# Read the CSV file into a DataFrame
df_2 = pd.read_csv("mobile_price_2.csv")

# Display the first few rows of the DataFrame
print(df_2.head())

       date  battery_power blue  clock_speed dual_sim  fc four_g  int_memory  \
0  1/3/2022            842   No          2.2       No   1     No           7
1  1/3/2022           1021  Yes          0.5      Yes   0    Yes          53
2  1/3/2022            563  Yes          0.5      Yes   2    Yes          41
3  1/3/2022            615  Yes          2.5       No   0     No          10
4  1/3/2022           1821  Yes          1.2       No  13    Yes          44

   m_dep  mobile_wt  ...  px_height  px_width   ram  sc_h  sc_w  talk_time  \
0    0.6        188  ...         20       756  2549     9     7         19
1    0.7        136  ...        905      1988  2631    17     3          7
2    0.9        145  ...       1263      1716  2603    11     2          9
3    0.8        131  ...       1216      1786  2769    16     8         11
4    0.6        141  ...       1208      1212  1411     8     2         15

   three_g  touch_screen wifi price_range
0       No            No  Yes           1
1      Yes           Yes   No           2
2      Yes           Yes   No           2
3      Yes            No   No           2
4      Yes           Yes   No           1

[5 rows x 22 columns]

In [31]:
df_2.dtypes

date              object
battery_power      int64
blue              object
clock_speed      float64
dual_sim          object
fc                 int64
four_g            object
int_memory         int64
m_dep            float64
mobile_wt          int64
n_cores            int64
pc                 int64
px_height          int64
px_width           int64
ram                int64
sc_h               int64
sc_w               int64
talk_time          int64
three_g           object
touch_screen      object
wifi              object
price_range        int64
dtype: object

Convert the integer value to categorical value

In [32]:
# Columns that need to be changed
columns_to_change = ["blue", "dual_sim", "four_g", "three_g", "touch_screen", "wifi"]

# Function to convert 1 to 'Yes' and 0 to 'No'
def convert_to_string(x):
    if x == 1:
        return 'Yes'
    elif x == 0:
        return 'No'
    return x  # Return as is if it's neither 1 nor 0

# Apply the function to each column in columns_to_change
for col in columns_to_change:
    df_1[col] = df_1[col].apply(convert_to_string)

# Display the first few rows of the DataFrame to confirm changes
print(df_1.head())

        date  battery_power blue  clock_speed dual_sim  fc four_g  int_memory  \
0  11/2/2022           1043  Yes          1.8      Yes  14     No           5
1  11/2/2022            841  Yes          0.5      Yes   4    Yes          61
2  11/2/2022           1807  Yes          2.8       No   1     No          27
3  11/2/2022           1546   No          0.5      Yes  18    Yes          25
4  11/2/2022           1434   No          1.4       No  11    Yes          49

   m_dep  mobile_wt  ...  px_height  px_width   ram  sc_h  sc_w  talk_time  \
0    0.1        193  ...        226      1412  3476    12     7          2
1    0.8        191  ...        746       857  3895     6     0          7
2    0.9        186  ...       1270      1366  2396    17    10         10
3    0.5         96  ...        295      1752  3893    10     0          7
4    0.5        108  ...        749       810  1773    15     8          7

   three_g  touch_screen wifi price_range
0       No           Yes   No           2
1      Yes            No   No           2
2       No           Yes  Yes           2
3      Yes           Yes   No           2
4      Yes            No  Yes           2

[5 rows x 22 columns]

In [33]:
# Convert each specified column to string data type
for col in columns_to_change:
    df_1[col] = df_1[col].astype("string")

In [34]:
# Apply the function to each column in columns_to_change
for col in columns_to_change:
    df_2[col] = df_2[col].apply(convert_to_string)

# Display the first few rows of the DataFrame to confirm changes
print(df_2.head())

       date  battery_power blue  clock_speed dual_sim  fc four_g  int_memory  \
0  1/3/2022            842   No          2.2       No   1     No           7
1  1/3/2022           1021  Yes          0.5      Yes   0    Yes          53
2  1/3/2022            563  Yes          0.5      Yes   2    Yes          41
3  1/3/2022            615  Yes          2.5       No   0     No          10
4  1/3/2022           1821  Yes          1.2       No  13    Yes          44

   m_dep  mobile_wt  ...  px_height  px_width   ram  sc_h  sc_w  talk_time  \
0    0.6        188  ...         20       756  2549     9     7         19
1    0.7        136  ...        905      1988  2631    17     3          7
2    0.9        145  ...       1263      1716  2603    11     2          9
3    0.8        131  ...       1216      1786  2769    16     8         11
4    0.6        141  ...       1208      1212  1411     8     2         15

   three_g  touch_screen wifi price_range
0       No            No  Yes           1
1      Yes           Yes   No           2
2      Yes           Yes   No           2
3      Yes            No   No           2
4      Yes           Yes   No           1

[5 rows x 22 columns]

In [35]:
# Convert each specified column to string data type
for col in columns_to_change:
    df_2[col] = df_2[col].astype("string")

In [36]:
df_1.dtypes

date                     object
battery_power             int64
blue             string[python]
clock_speed             float64
dual_sim         string[python]
fc                        int64
four_g           string[python]
int_memory                int64
m_dep                   float64
mobile_wt                 int64
n_cores                   int64
pc                        int64
px_height                 int64
px_width                  int64
ram                       int64
sc_h                      int64
sc_w                      int64
talk_time                 int64
three_g          string[python]
touch_screen     string[python]
wifi             string[python]
price_range               int64
dtype: object

In [37]:
df_2.dtypes

date                     object
battery_power             int64
blue             string[python]
clock_speed             float64
dual_sim         string[python]
fc                        int64
four_g           string[python]
int_memory                int64
m_dep                   float64
mobile_wt                 int64
n_cores                   int64
pc                        int64
px_height                 int64
px_width                  int64
ram                       int64
sc_h                      int64
sc_w                      int64
talk_time                 int64
three_g          string[python]
touch_screen     string[python]
wifi             string[python]
price_range               int64
dtype: object

In [38]:
# Define a mapping of numeric values to string categories
price_mapping = {
    0: 'low cost',
    1: 'medium cost',
    2: 'high cost',
    3: 'very high cost'
}

In [39]:
# Apply the mapping to the 'price_range' column
df_1['price_range'] = df_1['price_range'].map(price_mapping)
df_1['price_range'] = df_1['price_range'].astype("string")

# Verify the changes by displaying the first few rows of the DataFrame
print(df_1.head())

        date  battery_power blue  clock_speed dual_sim  fc four_g  int_memory  \
0  11/2/2022           1043  Yes          1.8      Yes  14     No           5
1  11/2/2022            841  Yes          0.5      Yes   4    Yes          61
2  11/2/2022           1807  Yes          2.8       No   1     No          27
3  11/2/2022           1546   No          0.5      Yes  18    Yes          25
4  11/2/2022           1434   No          1.4       No  11    Yes          49

   m_dep  mobile_wt  ...  px_height  px_width   ram  sc_h  sc_w  talk_time  \
0    0.1        193  ...        226      1412  3476    12     7          2
1    0.8        191  ...        746       857  3895     6     0          7
2    0.9        186  ...       1270      1366  2396    17    10         10
3    0.5         96  ...        295      1752  3893    10     0          7
4    0.5        108  ...        749       810  1773    15     8          7

   three_g  touch_screen wifi price_range
0       No           Yes   No   high cost
1      Yes            No   No   high cost
2       No           Yes  Yes   high cost
3      Yes           Yes   No   high cost
4      Yes            No  Yes   high cost

[5 rows x 22 columns]

In [40]:
# Apply the mapping to the 'price_range' column
df_2['price_range'] = df_2['price_range'].map(price_mapping)
df_2['price_range'] = df_2['price_range'].astype("string")

# Verify the changes by displaying the first few rows of the DataFrame
print(df_2.head())

       date  battery_power blue  clock_speed dual_sim  fc four_g  int_memory  \
0  1/3/2022            842   No          2.2       No   1     No           7
1  1/3/2022           1021  Yes          0.5      Yes   0    Yes          53
2  1/3/2022            563  Yes          0.5      Yes   2    Yes          41
3  1/3/2022            615  Yes          2.5       No   0     No          10
4  1/3/2022           1821  Yes          1.2       No  13    Yes          44

   m_dep  mobile_wt  ...  px_height  px_width   ram  sc_h  sc_w  talk_time  \
0    0.6        188  ...         20       756  2549     9     7         19
1    0.7        136  ...        905      1988  2631    17     3          7
2    0.9        145  ...       1263      1716  2603    11     2          9
3    0.8        131  ...       1216      1786  2769    16     8         11
4    0.6        141  ...       1208      1212  1411     8     2         15

   three_g  touch_screen wifi  price_range
0       No            No  Yes  medium cost
1      Yes           Yes   No    high cost
2      Yes           Yes   No    high cost
3      Yes            No   No    high cost
4      Yes           Yes   No  medium cost

[5 rows x 22 columns]

In [46]:
df_1.dtypes

date                     object
battery_power             int64
blue             string[python]
clock_speed             float64
dual_sim         string[python]
fc                        int64
four_g           string[python]
int_memory                int64
m_dep                   float64
mobile_wt                 int64
n_cores                   int64
pc                        int64
px_height                 int64
px_width                  int64
ram                       int64
sc_h                      int64
sc_w                      int64
talk_time                 int64
three_g          string[python]
touch_screen     string[python]
wifi             string[python]
price_range      string[python]
dtype: object

In [47]:
df_2.dtypes

date                     object
battery_power             int64
blue             string[python]
clock_speed             float64
dual_sim         string[python]
fc                        int64
four_g           string[python]
int_memory                int64
m_dep                   float64
mobile_wt                 int64
n_cores                   int64
pc                        int64
px_height                 int64
px_width                  int64
ram                       int64
sc_h                      int64
sc_w                      int64
talk_time                 int64
three_g          string[python]
touch_screen     string[python]
wifi             string[python]
price_range      string[python]
dtype: object

Save the files to csv files

In [48]:
# Save the DataFrame to a CSV file
df_1.to_csv("mobile_price_1.csv", index=False)  # Set index=False if you don't want to save the index as a column in your CSV

In [49]:
# Save the DataFrame to a CSV file
df_2.to_csv("mobile_price_2.csv", index=False)  # Set index=False if you don't want to save the index as a column in your CSV